/*-------------------------------------
GLOBAL SETTING
---------------------------------------*/
* {
    margin: 0;
}

div,section {
    font-family: 'Didact Gothic', sans-serif;
}

body{
    background-color: #628395;
}

/*-------------------------------------
HEADER DEFAULT SETTING
---------------------------------------*/

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    color: #dfd5a5;
    margin: 0.35em 0;
}

/*-------------------------------------
BODY ELEMENTS SETTING
---------------------------------------*/

.list, .description {
    display: flex;
    flex-flow: column nowrap;
}

.list p{
    display: block;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.4em;
    background-color: #dfd5a5;
    color: #96897b;
    padding: 0.45em 0;
}

.description p{
    display: block;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: #dfd5a5;
    margin: 1em 0.3em;
}

button{
    align-self: center;
    cursor: pointer;
    background-color: #96897b;
    font-size: 1.1em;
    padding: 0.45em;
    border: 2px solid #dfd5a5;
    border-radius: 5px;
}

a{
    color: #dfd5a5;
}

.footer{
    color: #dfd5a5;
    text-align: center;
    padding: 1.5em 0;
    font-size: 1.1em;
    border-top: 1px solid #dfd5a5;
}

.footer p{
    margin: .75em;
}

